<app-header (refresh)="refreshAll()"></app-header>
<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <app-button
        [iconName]="SETUP_ICON_NAME"
        [buttonName]="SETUP_TITLE"
        [type]="CardType.SETUP"
        (click)="handleSetup()"
      ></app-button>
      <app-button
        [iconName]="INFECT_ICON_NAME"
        [buttonName]="INFECT_TITLE"
        [type]="CardType.INFECT"
        (click)="handleInfect()"
      ></app-button>
      <app-button
        [iconName]="EPIDEMIC_ICON_NAME"
        [buttonName]="EPIDEMIC_TITLE"
        [type]="CardType.EPIDEMIC"
        (click)="handleEpidemic()"
      ></app-button>
      <app-button
        [iconName]="FORECAST_ICON_NAME"
        [buttonName]="FORECAST_TITLE"
        [type]="CardType.FORECAST"
        (click)="handleForecast()"
      ></app-button>
      <app-button
        [iconName]="RESILIENT_POPULATION_ICON_NAME"
        [buttonName]="RESILIENT_POPULATION_TITLE"
        [type]="CardType.RESILIENT_POPULATION"
        (click)="handleResilientPopulation()"
      ></app-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-text>Epidemic Count: {{ epidemicCount }}</ion-text>
    </ion-col>
  </ion-row>
  <div class="unknown ion-text-center ion-align-items-center">
    <app-unknown-infection-deck [unknownCards]="unknownCards"></app-unknown-infection-deck>
  </div>
  <div class="known ion-text-center ion-align-items-center">
    <app-known-infection-deck [knownCards]="knownCards"></app-known-infection-deck>
  </div>
  <div class="discarded ion-text-center ion-align-items-center">
    <app-discarded-deck [discardedCards]="discardedCards"></app-discarded-deck>
  </div>
  <div class="removed ion-text-center ion-align-items-center">
    <app-removed-deck [removedCards]="removedCards"></app-removed-deck>
  </div>
</ion-content>
