<div class="ion-margin-horizontal ion-padding">
  <ion-text>Random 1 of {{ cardDistribution.length }}</ion-text>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-chip class="black-badge">{{ blackNum }}</ion-chip>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-chip class="blue-badge">{{ blueNum }}</ion-chip>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-chip class="red-badge">{{ redNum }}</ion-chip>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-chip class="yellow-badge">{{ yellowNum }}</ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
